<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
        <p th:text="${hello}"></p>

        <h1>循环</h1>
        <p th:each="str:${list}" th:text="${str}"></p>
        <h1>判断</h1>
        <p th:if="1==1">我是存在的</p>
        <h1>三目运算</h1>
        <p th:text="(1==1)?'是真':'是假'"></p>

        <input type="checkbox" th:checked="(${check}==2)"/>


        <!--传值给javaScript-->
        <h1>传值给javaScript</h1>
        <a th:href="'javascript:a(\''+${hello}+'\')'">点我传值</a>


        <h1>引入页面</h1>
        <div th:include="indexInner::y1"></div>

        <script language="JavaScript">
            function a(hello) {
                alert(hello)
            }
        </script>
</body>
</html>